[MASTER]
disable=
    redefined-builtin,
    unused-argument,
    missing-module-docstring,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    function-redefined,
    bad-continuation,
    line-too-long,
    import-outside-toplevel,
    arguments-differ,
    multiple-statements,
    too-few-public-methods,
    too-many-branches,
    broad-except,
    protected-access,
    super-init-not-called,
    abstract-method,
    logging-fstring-interpolation,
    too-many-arguments,
