/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

blockquote
  font-size 1rem
  color #666
  border-left 0.2rem solid #dfe2e5
  margin 1rem 0
  padding 0.25rem 0 0.25rem 1rem
